<div class="patient-page">
    <div class="patient-info">
        <div class="overflow-auto">
            <div class="text-center">
                <h2>PACIENTES REGISTRADOS</h2>
            </div>
            <table class="table table-striped table-default">
                <thead>
                    <tr>
                        <th scope="col">N° DE DOCUMENTO</th>
                        <th scope="col">NOMBRE COMPLETO</th>
                        <th scope="col">FECHA DE REGISTRO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patients">
                        <td> {{patient.identification}} </td>
                        <td> {{patient.name}} {{ patient.surname }} </td>
                        <td> {{patient.registerDate}}</td>
                        <td>
                            <i class="font-00234d fas fa-2x fa-eye" placement="left" ngbTooltip="Ver detalles"></i>
                            <i class="font-6599fa fas fa-2x fa-edit" placement="top" ngbTooltip="Editar registro"></i>
                            <i class="text-danger fas fa-2x fa-trash" placement="right"
                                ngbTooltip="Eliminar registro"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <p>Registros por página <span class="font-00234d">{{ pageSize }}</span></p>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4"
                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<i class="arrow fas fa-arrow-circle-right"></i>