<div class="patient-page">
    <div class="patient-info">
        <div class="overflow-auto">
            <div class="text-center">
                <h2>PACIENTES REGISTRADOS</h2>
            </div>
            <!-- <table class="table table-striped table-default">
                <thead>
                    <tr>
                        <th scope="col">N° DE DOCUMENTO</th>
                        <th scope="col">NOMBRE COMPLETO</th>
                        <th scope="col">FECHA DE REGISTRO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patients">
                        <td> {{patient.identification}} </td>
                        <td> {{patient.name}} {{ patient.surname }} </td>
                        <td> {{patient.registerDate}}</td>
                        <td>
                            <i class="font-00234d fas fa-2x fa-eye" placement="left" ngbTooltip="Ver detalles"></i>
                            <i class="font-6599fa fas fa-2x fa-edit" placement="top" ngbTooltip="Editar registro"></i>
                            <i class="text-danger fas fa-2x fa-trash" placement="right"
                                ngbTooltip="Eliminar registro"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <p>Registros por página <span class="font-00234d">{{ pageSize }}</span></p>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="4"
                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div> -->
            <table mat-table [dataSource]="dataSource">
                <!-- identification Column -->
                <ng-container matColumnDef="identification">
                    <th mat-header-cell *matHeaderCellDef> N° DE DOCUMENTO </th>
                    <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
                </ng-container>
                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> NOMBRE COMPLETO </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}} </td>
                </ng-container>
                <!-- registerDate Column -->
                <ng-container matColumnDef="registerDate">
                    <th mat-header-cell *matHeaderCellDef> FECHA DE REGISTRO </th>
                    <td mat-cell *matCellDef="let element"> {{element.registerDate}} </td>
                </ng-container>
                <!-- ver mas Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                    <td class="td-center" mat-cell *matCellDef="let element">
                        <i class="font-00234d fas fa-2x fa-eye"></i>
                        <i class="font-6599fa fas fa-2x fa-edit"></i>
                        <i class="text-danger fas fa-2x fa-trash"></i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- Table ends -->
            <!-- Paginator table -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<i class="arrow fas fa-arrow-circle-right"></i>