p {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    margin: 0 30px;
    padding: 0;
    color: #ffffff;
}

i {
    color: #6599fa;
    margin-right: 10px;
}

.navbar {
    /* background-color: #00234d; */
    background: rgba(0,35,77,1);
    background: -moz-linear-gradient(left, rgba(0,35,77,1) 0%, rgba(1,20,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,35,77,1)), color-stop(100%, rgba(1,20,41,1)));
    background: -webkit-linear-gradient(left, rgba(0,35,77,1) 0%, rgba(1,20,41,1) 100%);
    background: -o-linear-gradient(left, rgba(0,35,77,1) 0%, rgba(1,20,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,35,77,1) 0%, rgba(1,20,41,1) 100%);
    background: linear-gradient(to right, rgba(0,35,77,1) 0%, rgba(1,20,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00234d', endColorstr='#011429', GradientType=1 );
}

ul {
    margin: auto
}