p {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    margin: 0 30px;
    padding: 0;
    color: #ffffff;
}

i {
    color: #6599fa;
    margin-right: 10px;
}

.navbar {
    background-color: #00234d;
}

ul {
    margin: auto
}