/* You can add global styles to this file, and also import other style files */
 .example_image {
     width: 250px;
 }

.font-00234d {
    color: #00234d;
}

.font-6599fa {
    color: #6599fa;
}

 /* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .example_image {
     width: 300px;
 }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .example_image {
     width: 350px;
 }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .example_image {
     width: 350px;
 }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .example_image {
     width: 350px;
 }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
